<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Local Library</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% include 'head.html' %}
</head>
<body>
{% include 'navbar.html' %}
<div class="container-fluid-base">

  <div class="col-sm-12 ">{% block content %}{% endblock %}</div>
<div class="main">
{% block pagination %}
{% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
                <a class="list" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">< previous</a>
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a class="list" href="{{ request.path }}?page={{ page_obj.next_page_number }}">next ></a>
            {% endif %}
        </span>
    </div>

{% endif %}
{% endblock %}
</div>
</div>
</body>
{% include 'footer.html' %}
</html>
