<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">
      <img src="/static/images/logo.png" alt="logo" width="120" height="120">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <ul class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </ul>
        <ul class="nav-item">
          <a class="nav-link" href="{% url 'books' %}">Books</a>
        </ul>
        <ul class="nav-item">
          <a class="nav-link" href="{% url 'authors' %}">Authors</a>
        </ul>
      </ul>
    </div>
  <span class="user-nav">
      <ul class="nav justify-content-end">
          {% if request.user.is_authenticated %}
            {% if user.is_staff %}
                {% if perms.catalog.can_mark_returned %}
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'all-borrowed' %}">All borrowed</a>
                </ul>
                    {% endif %}
            {% endif %}
        <ul class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'my-borrowed' %}">My Borrowed</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}?next={{ request.path }}">Logout</a></li>
          </ul>
        </ul>
      {% else %}
       <ul class="navbar-nav">
          <ul class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}?next={{ request.path }}">Sign In</a>
          </ul>
          <ul>
              <a class="nav-link" href="{% url 'account_signup' %}?next={{ request.path }}">Sign Up</a>
          </ul>
       </ul>
      {% endif %}

    </ul>
  </span>
  </div>
</nav>
