{% extends "base_generic.html" %}

{% block content %}
    <div class="main">
        <h1 align="center">Author List</h1>
        {% if request.user.is_staff %}
            <a class="list" href="{% url 'author-create' %}">+ Add author</a>
        {% endif %}


        {% if author_list %}
          <ul>

          {% for author in author_list %}
            <li>
              <h3><a class="list" href="{{ author.get_absolute_url }}">
              {{ author }} {% if author.date_of_birth %}({{author.date_of_birth}} - {% if author.date_of_death %}{{author.date_of_death}}{% else %}Present{% endif %}){% endif %}
              </a></h3>
            </li>
          {% endfor %}

         </ul>
        {% else %}
          <p>There are no authors available.</p>
        {% endif %}
    </div>
        
        
{% endblock %}